body {
    /* background-image: url("/images/background.jpg"); */
  }
.content{
    display: flex;
    justify-content: space-around;
}
.rightDiv{
    width: 50vw;
    justify-content: space-between;
}