input:focus{
    background-color : rgba(126, 134, 240, 0.274);
}
body {
    background-image: url("/images/background.jpg");
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    height: 100%;
  }
  input{
    border-radius: 20px;
    height:30px ;
    width: 200px;
  }
fieldset{
    /* box-shadow: 5px 10px #888888; */
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.content{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.rightDiv,
.leftDiv{
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    gap: 175px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.rightDiv{
    background-color: azure;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input.error{
   background-color: rgb(245, 97, 97);
}